#bass-neck {
    width: 100%;
    pointer-events: none;
}

#main {
    position: relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 50vh;
}

.note {
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    position: absolute;
    display: grid;
    grid-template-rows: 100%;
    text-align: center;
    font-size: 0.9vw;
}

.note-1 {
    width: 2.5%;
    height: 13%;
}

.note-2 {
    width: 6.5%;
    height: 13%;
}

.note-3 {
    width: 6%;
    height: 13%;
}

.note-4 {
    width: 5.7%;
    height: 13%;
}

.note-5 {
    width: 5.5%;
    height: 13%;
}

.note-6 {
    width: 5.2%;
    height: 14%;
}

.note-7 {
    width: 5%;
    height: 15%;
}

.note-8 {
    width: 4.7%;
    height: 15%;
}

.note-9 {
    width: 4.5%;
    height: 16%;
}

.note-10 {
    width: 4.4%;
    height: 16%;
}

.note-11 {
    width: 4.1%;
    height: 17%;
}

.note-12 {
    width: 3.8%;
    height: 18%;
}

.note-13 {
    width: 3.6%;
    height: 18%;
}

.note-14 {
    width: 3.3%;
    height: 19%;
}

.note-15 {
    width: 2.9%;
    height: 20%;
}

.note-16 {
    width: 2.7%;
    height: 21%;
}

.note-17 {
    width: 2.5%;
    height: 21%;
}

.note-18 {
    width: 2.3%;
    height: 22%;
}

.note-19 {
    width: 2.2%;
    height: 22%;
}

.note-20 {
    width: 2.1%;
    height: 22%;
}

.note-21 {
    width: 1.9%;
    height: 22%;
}
